.input {
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 3px;
   width: fit-content;

   .item {
      width: 200px;
      border: 1px solid $color-smoke;
      border-radius: 12px;
      padding: 20px 12px;
      font-size: 14px;
      outline: unset;

      &:disabled {
         background: #F2F2F2;
         border-color: #E0E0E0;
      }

      &::placeholder {
         color: $color-smoke;
      }
   }

   &:not(&-error):focus-within {
      .item {
         border-color: $color-text-black;
      }
   }

   &-error {
      .item {
         border-color: #D32F2F;
      }

      .text-error {
         position: absolute;
         bottom: 5px;
         padding-left: 12px;
         color: #D32F2F;
         font-size: 10px;
      }
   }

   &-fw {
      width: 100%;

      .item {
         width: 100%;
      }
   }
}
