.homePage {
   display: flex;
   flex-direction: column;
   gap: 25px;

   .form {
      display: flex;
      gap: 25px;
   }

   .taskList {
      display: flex;
      flex-direction: column;
      gap: 27px;

      .task {
         display: flex;
         justify-content: space-between;
         align-items: center;

         .checkbox-text {
            font: {
               size: 18px;
               weight: 500;
            }
         }

         .delete {
            color: $color-smoke;
            cursor: pointer;
            padding: 0 10px;
         }
      }
   }

   .delAll {
      display: flex;
      justify-content: flex-end;
   }
}
